<div class="header-wrapper">
  <h1 class="header text-lighten-2">Top 3 posts</h1>
</div>
<div *ngIf="loading">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>
<div class="posts">
  <ul class="collection">
    <li *ngFor="let post of posts" class="collection-item avatar">
      <h5>{{post?.title}}</h5>
      <a routerLink="/post/details/{{post._id}}">
        <img style="height:200px; width:320px" src="{{post?.image}}" alt="" class="square">
        <br>
        <p class="title">{{post?.class}}</p>
        <br>
      </a>
      <div class="description">
        <p>
          {{post?.readMore}}...
        </p>
        <a class="weiterlesen" routerLink="/post/details/{{post._id}}">Read More</a>
      </div>
      <div class="commAndLikes">
        <div class="likes-holder commAndLikesChild">
          <div class="likes-img-holder">
            <img class="likes" src="./../../../assets/like-btn.png">
          </div>
            <span>{{post?.totalLikes}}</span>
        </div>
        <div class="comments-holder commAndLikesChild">
          <div class="comments-img-holder">
            <img class="comments-img" src="http://www.clker.com/cliparts/M/K/E/Q/D/b/voice-balloon-hi.png">
          </div>
            <span>{{post?.comments.length}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="empty">
  <h2>There are no posts at the moment.</h2>
</div>