<div class="content">
  <form class="form center-form" (ngSubmit)="createPost()">
    <div class="form-group">
      <label for="title">Title</label>
      <input [(ngModel)]="title" id="title" name="title" type="text" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input [(ngModel)]="image" id="image" name="image" type="text" class="form-control" required />
    </div>

    <label for="class">Type</label>
    <select [(ngModel)]="class" id="class" name="class" class="form-control" required>
      <option value="Positive">Positive</option>
      <option>Negative</option>
      <option>Neutral</option>
    </select>

    <label for="category">Category</label>
    <select [(ngModel)]="category" id="category" name="category" type="text" class="form-control" required>
      <option>Bitcoin</option>
      <option>Etherium</option>
      <option>Monero</option>
    </select>

    <div class="form-group">
      <label for="description">Description</label>
      <input [(ngModel)]="description" id="description" name="description" type="text" class="form-control" required/>
    </div>
    <div class="form-group">
      <input type="submit" value="Create" class="form-btn btn" />
    </div>
  </form>
</div>