/* @import "./bootstrap.min.css"; */

.progress .indeterminate {
    background-color: rgba(232, 205, 4, 0.637);
}

.progress {
    background-color: #0000007a;
}

.my-pagination .ngx-pagination .current {
    color: #E8CE04;
    background: black !important;
}

footer {
    width:100%;
    bottom:0 !important;
    text-align-last: center;
    background-color: black;
    color: #E8CE04;
    padding: 1rem;
    position: fixed;
    left: 0;
    width: 100%;
}

html {
    position: relative;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

nav ul a {
    color: #E8CE04;
}

nav ul a:hover {
    background: #E8CE04;
    color: black;
}

.black.yellowTextColor {
    color: #E8CE04;
}

.comments-img {
    max-width: 25px;
}

.likes-img-holder {
   display: inline-block;
   vertical-align: middle;
}

.comments-img-holder {
    display: inline-block;
    vertical-align: middle;
}

.commAndLikes {
    width: 20%;
}

.commAndLikes .commAndLikesChild {
    width: 15%;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .commAndLikes .commAndLikesChild {
        margin-right: 15px;
    }
    .collection .collection-item.avatar {
        padding-left: 10px;
    }
    .collection-item.avatar .description {
        position: initial;
        height: auto;
        width: auto;
    }
    .collection-item.avatar .commAndLikes {
        width: 100% !important;
    }
    .post-after-title-holder .post-img-holder {
        width: 100% !important;
    }
    .post.post-content .description {
        width: 100%;
        padding: 10px;
    }
    .post-after-title-holder .post-details-holder {
        width: 100% !important;
    }
    .collection .collection-item {
        width: 50% !important;
        padding: 18px 30px;
    }
    .posts .collection .collection-item.avatar {
        width: 100% !important;
    }
    .collection .collection-item.avatar .btnHolder .primaryBtn {
        display: block;
    }
}